@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #FFD700 !important;
  text-decoration: underline;
}

.text-gold {
  color: #FFD700 !important;
}


.chatbox {
  border: 1px solid #FFD700;
  border-radius: 10px;
}

.user-message {
  background-color: #FFD700 !important;
  color: white !important;
}

.chatbot-message {
  background-color: #2a2a2a !important;
  color: white !important;
}
.chatbox input[type="text"] {
  background: #333333 !important; 
  color: white !important; 
  border: 1px solid #FFD700; 
  padding: 10px; 
  font-size: 16px; 
}

button.close-btn {
  font-size: 1.25rem; 
  color: #fbbf24; 
  transition: color 0.2s ease-in-out;
}

button.close-btn:hover {
  color: white; 
}

.chatbot-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #000000; 
  color: #FFFFFF; 
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px; 
  border: 2px solid #FFD700; 
  transition: background-color 0.3s, color 0.3s;
}

.chatbot-btn:hover {
  background-color: #FFD700; 
  color: #000000; 
}


button[type="submit"] {
  background-color: #fbbf24; 
  border: 2px solid #fbbf24; 
  color: #ffffff; 
  font-size: 0.875rem; 
  padding: 8px 20px; 
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
  background-color: #FFD700; 
  color: #000000;
}

input[type="text"], input[type="email"], textarea {
  background-color: #ffffff !important; 
  color: #000000; 
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #FFD700 !important;
}

input::placeholder, textarea::placeholder {
  color: #7a7a7a;
}
